body {
  background-image: url("/Users/KTZ/Documents/School/Spring 2016/ART 229-Design For The Web/2016-02-28-Minion-The-Dog/Images/background-2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}

div {
  float: left;
}

.header {
  background-color: none;
  width: 1383px;
}

.minion {
  height: auto;
  width: 35%;
  padding-bottom: 2.5%;
  padding-top: 2%;
  padding-left: 5%;
}

.logo {
  height: auto;
  width: 50%;
  padding-left: 4%;
  padding-bottom: 1.5%;
  padding-right: 5%;
}

.navigation {
  background-color: none;
  width: 52%;
  height: 500px;
}

.family {
  width: 65%;
  height: auto;
  position: relative;
  left: 11%;
  top: 3%;
}

.friend {
  width: 65%;
  height: auto;
  position: relative;
  left: 11%;
  top: 4.5%;
}

.foe {
  width: 65%;
  height: auto;
  position: relative;
  left: 11%;
  top: 6%;
}

.FFF {
  width: 7%;
  position: absolute;
}

.Cathy {
  left: 11%;
  bottom: 29.25%;
}

.Katie {
  left: 19%;
  bottom: 27.5%;
  width: 8.5%;
}

.Jessi {
  left: 28.5%;
  bottom: 29.25%;
}

.Harris {
  left: 28.5%;
  bottom: 7.5%;
}

.Tori {
  left: 19%;
  bottom: 5%;
  width: 8.5%;
}

.Cassandra {
  left: 11%;
  bottom: 7.5%;
}

.Fox {
  left: 28.5%;
  bottom: -15%;
}

.Neighbors_Dog {
  left: 19%;
  bottom: -17.5%;
  width: 8.5%;
}

.Groundhog {
  left: 11%;
  bottom: -15%;
}

.main_content {
  width: 42%;
  background-color: none;
}

.bio {
  height: 600px;
  width: auto;
  position: relative;
  padding-left: ;
}

p {
  position:absolute;
  color: white;
  height: 500px;
  width: 325px;
  font-size: 19.5px;
  right: 222px;
  top:575px;
  text-indent: 30px;
  font-family: Lucida;
  text-decoration: none;
  display: inline-block;
  text-align: center;

}

/*.sidebar {
   background-color: red;
   width: 1px;
   height: 60%;
}*/

.footer {
  height: 26.5px;
}

.tumbler {
  width: 32%;
  height: auto;
  position:absolute;
  z-index: 1;
  left: 34.5%;
  padding-top: 18.5%;
}

.facebook {
  width: 32%;
  height: auto;
  position:absolute;
  z-index: 1;
  left: 34.5%;
  padding-top: 5.5%;
}

.social_media{
  position: relative;
  width: 40%;
  height: auto;
  z-index: -1;
  padding-left: 30%;
}

.min_left {
  position: absolute;;
  height: 42.5%;
  right: 70%;
  top: 1070px;
}

.min_right {
  position: absolute;;
  height: 42.5%;
  left: 71%;
  top: 1070px;
}
